# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

obj/
bin/BlockImages/
BlockImages/Archive/
github/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
bin/Ambient.dll
bin/MetroFramework.dll
bin/SharpDX.Direct2D1.dll
bin/Ambient.Visuals.dll
bin/NLog.dll
bin/SharpDX.Direct2D1.xml
bin/SharpDX.Direct3D11.dll
bin/SharpDX.dll
bin/CarbonMod.dll.config
bin/SharpDX.Mathematics.dll
bin/NLog.xml
bin/SharpDX.Direct3D11.xml
bin/World.xsd
bin/World.xml
bin/SharpDX.Mathematics.xml
bin/SharpDX.DXGI.xml
bin/SharpDX.xml
bin/SharpDX.DXGI.dll
StyleCop.Cache
bin/Ambient.Visuals.dll.config
bin/Ambient.dll.config
bin/VastlandMod.dll
bin/VastlandMod.dll.config
packages.config
